<div class="panel panel-default">
	<div class="panel-body posts">
		
		<!-- loading data -->
		<div>
			<span ng-if="isLoading">
				<i class="fa fa-spinner fa-spin"></i> Đang tải dữ liệu ....
			</span>
		</div>
		<div>
			<span ng-if="service.posts.length <= 0">
				<i class="fa fa-warning"></i> Không có bài viết trong mục này
			</span>
		</div>
		<div class="row">
			<div class="col-md-6" ng-repeat="post in service.posts">
				
				<div class="post-item">
					<div class="post-title">
						<a ui-sref="postState({postId:post._id})">{{post.title}}</a>
					</div>
					<div class="post-date"><span class="fa fa-calendar"></span>{{post.date.toString()}}</div>
					<div class="post-text">
						<img ng-src="{{post.imageUrl}}" class="img-responsive img-text"/>
						<p>{{post.shortContent}}</p>
					</div>
					<div class="post-row">
						<div class="post-info">
							<span class="fa fa-thumbs-up"></span> 15 - <span class="fa fa-eye"></span> 15,332 - <span class="fa fa-star"></span> 322
						</div>
						<button ui-sref="postState({postId:post._id})" class="btn btn-default btn-rounded pull-right">Đọc tiếp &RightArrow;</button>
					</div>
					</div> <!-- end post  -->
					
				</div>
			</div>
			
			
		</div>
	</div>
	<ul class="pagination pagination-sm pull-right push-down-20">
		<li ng-repeat="number in numberPage">
			<span>
				<a ng-href="{{'/#/index?pageNumber='+ ($index+1)}}">{{$index+1}}</a>
			</span>
		</li>
	</ul>