<!DOCTYPE html>
<html lang="en" ng-app="adminApp">
  <head>
    <!-- META SECTION -->
    <title>Quản lý - Cửa sổ tâm hồn</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="icon" href="/modules/admin/favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="/modules/admin/css/theme-default.css"/>
    <!-- EOF CSS INCLUDE -->
    <!-- jquery -->
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <!-- angular / angular ui route -->
    <script type="text/javascript" src="/angular/angular.min.js"></script>
    <script type="text/javascript" src="/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- ng toastr -->
    <script src="/angular-animate/angular-animate.min.js"></script>
    <script src="/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <link rel="stylesheet" href="/angular-toastr/dist/angular-toastr.min.css" />
    <!--  angular ui bootstrap -->
    <script src="/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!-- momentjs -->
    <script src="/moment/moment.js"></script>
    <script src="/angular-moment/angular-moment.min.js"></script>
    <!-- Include Froala Editor styles -->
    <link rel="stylesheet" href="/editor/css/froala_editor.min.css" />
    <link rel="stylesheet" href="/editor/css/froala_style.min.css" />
    <!-- Include Froala Editor Plugins styles -->
    <link rel="stylesheet" href="/editor/css/plugins/char_counter.css">
    <link rel="stylesheet" href="/editor/css/plugins/code_view.css">
    <link rel="stylesheet" href="/editor/css/plugins/colors.css">
    <link rel="stylesheet" href="/editor/css/plugins/emoticons.css">
    <link rel="stylesheet" href="/editor/css/plugins/file.css">
    <link rel="stylesheet" href="/editor/css/plugins/fullscreen.css">
    <link rel="stylesheet" href="/editor/css/plugins/image_manager.css">
    <link rel="stylesheet" href="/editor/css/plugins/image.css">
    <link rel="stylesheet" href="/editor/css/plugins/line_breaker.css">
    <link rel="stylesheet" href="/editor/css/plugins/table.css">
    <link rel="stylesheet" href="/editor/css/plugins/video.css">
    <!-- Include Froala Editor -->
    <script src="/editor/js/froala_editor.min.js"></script>
    <!-- Include Froala Editor Plugins -->
    <script src="/editor/js/plugins/align.min.js"></script>
    <script src="/editor/js/plugins/char_counter.min.js"></script>
    <script src="/editor/js/plugins/code_beautifier.min.js"></script>
    <script src="/editor/js/plugins/code_view.min.js"></script>
    <script src="/editor/js/plugins/colors.min.js"></script>
    <script src="/editor/js/plugins/emoticons.min.js"></script>
    <script src="/editor/js/plugins/entities.min.js"></script>
    <script src="/editor/js/plugins/file.min.js"></script>
    <script src="/editor/js/plugins/font_family.min.js"></script>
    <script src="/editor/js/plugins/font_size.min.js"></script>
    <script src="/editor/js/plugins/fullscreen.min.js"></script>
    <script src="/editor/js/plugins/image.min.js"></script>
    <script src="/editor/js/plugins/image_manager.min.js"></script>
    <script src="/editor/js/plugins/inline_style.min.js"></script>
    <script src="/editor/js/plugins/line_breaker.min.js"></script>
    <script src="/editor/js/plugins/link.min.js"></script>
    <script src="/editor/js/plugins/lists.min.js"></script>
    <script src="/editor/js/plugins/paragraph_format.min.js"></script>
    <script src="/editor/js/plugins/paragraph_style.min.js"></script>
    <script src="/editor/js/plugins/quote.min.js"></script>
    <script src="/editor/js/plugins/save.min.js"></script>
    <script src="/editor/js/plugins/table.min.js"></script>
    <script src="/editor/js/plugins/video.min.js"></script>
    <!-- End Froala -->
    <!-- angular editor -->
    <script src="/angular-froala/src/angular-froala.js"></script>
    <script src="/angular-froala/src/froala-sanitize.js"></script>
    <!-- index.js -->
    <script type="text/javascript" src="/js/admin.js"></script>
    <!-- load all controllers and services files -->
    <% for(var i=0; i<files.length; i++) {%>
    <script type="text/javascript" src="<%=files[i]%>"></script>
    <% } %>
  </head>
  <body>
    <!-- START PAGE CONTAINER -->
    <div class="page-container">
      
      <!-- START PAGE SIDEBAR -->
      <div class="page-sidebar">
        <!-- START X-NAVIGATION -->
        <ul class="x-navigation">
          <li class="xn-logo">
            <a href="/modules/admin/index.html">Quản lý</a>
            <a href="/modules/admin/#" class="x-navigation-control"></a>
          </li>
          <li class="xn-profile">
            <a href="/edit/#/profile" class="profile-mini">
              <img src="/modules/admin/assets/images/users/avatar.jpg" alt="John Doe"/>
            </a>
            <div class="profile">
              <div class="profile-image">
                <img src="/images/nhuan.jpg" alt="John Doe"/>
              </div>
              <div class="profile-data">
                <div class="profile-data-name">Nhuan</div>
                <div class="profile-data-title">Web Developer</div>
              </div>
              <div class="profile-controls">
                <a href="/edit/#/profile" class="profile-control-left"><span class="fa fa-user"></span></a>
                <a href="https://www.facebook.com/nhuantk" class="profile-control-right"><span class="fa fa-facebook"></span></a>
              </div>
            </div>
          </li>
          <li class="xn-title">Chức năng</li>
          <li class="xn-openable">
            <a href="#"><span class="fa fa-files-o"></span> <span class="xn-text">Bài viết</span></a>
            <ul>
              <li><a ui-sref="category"><span class="fa fa-image"></span> Hạng mục</a></li>
              <li><a ui-sref="postmanager"><span class="fa fa-user"></span> Bài viết</a></li>
            </ul>
          </li>
          <li>
            <a ui-sref="vacxinmanager"><span class="fa fa-desktop"></span> <span class="xn-text">Quản lý lịch tiêm chủng</span></a>
          </li>
          <li>
            <a href="index.html"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
          </li>
        </ul>
        <!-- END X-NAVIGATION -->
      </div>
      <!-- END PAGE SIDEBAR -->
      
      <!-- PAGE CONTENT -->
      <div class="page-content">
        
        <!-- START X-NAVIGATION VERTICAL -->
        <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
          <!-- TOGGLE NAVIGATION -->
          <li class="xn-icon-button">
            <a href="/modules/admin/#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
          </li>
          <!-- END TOGGLE NAVIGATION -->
          <!-- SEARCH -->
          <li class="xn-search">
            <form role="form">
              <input type="text" name="search" placeholder="Search..."/>
            </form>
          </li>
          <!-- END SEARCH -->
          <!-- SIGN OUT -->
          <li class="xn-icon-button pull-right">
            <a href="/modules/admin/#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
          </li>
          <!-- END SIGN OUT -->
          <!-- MESSAGES -->
          <li class="xn-icon-button pull-right">
            <a href="/modules/admin/#"><span class="fa fa-comments"></span></a>
            <div class="informer informer-danger">4</div>
            <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
              <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-comments"></span> Messages</h3>
                <div class="pull-right">
                  <span class="label label-danger">4 new</span>
                </div>
              </div>
              <div class="panel-body list-group list-group-contacts scroll" style="height: 200px;">
                <a href="/modules/admin/#" class="list-group-item">
                  <div class="list-group-status status-online"></div>
                  <img src="/modules/admin/assets/images/users/user2.jpg" class="pull-left" alt="John Doe"/>
                  <span class="contacts-title">John Doe</span>
                  <p>Praesent placerat tellus id augue condimentum</p>
                </a>
                <a href="/modules/admin/#" class="list-group-item">
                  <div class="list-group-status status-away"></div>
                  <img src="/modules/admin/assets/images/users/user.jpg" class="pull-left" alt="Dmitry Ivaniuk"/>
                  <span class="contacts-title">Dmitry Ivaniuk</span>
                  <p>Donec risus sapien, sagittis et magna quis</p>
                </a>
                <a href="/modules/admin/#" class="list-group-item">
                  <div class="list-group-status status-away"></div>
                  <img src="/modules/admin/assets/images/users/user3.jpg" class="pull-left" alt="Nadia Ali"/>
                  <span class="contacts-title">Nadia Ali</span>
                  <p>Mauris vel eros ut nunc rhoncus cursus sed</p>
                </a>
                <a href="/modules/admin/#" class="list-group-item">
                  <div class="list-group-status status-offline"></div>
                  <img src="/modules/admin/assets/images/users/user6.jpg" class="pull-left" alt="Darth Vader"/>
                  <span class="contacts-title">Darth Vader</span>
                  <p>I want my money back!</p>
                </a>
              </div>
              <div class="panel-footer text-center">
                <a href="/modules/admin/pages-messages.html">Show all messages</a>
              </div>
            </div>
          </li>
          <!-- END MESSAGES -->
        </ul>
        <!-- END X-NAVIGATION VERTICAL -->
        
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap clearfix">
          <div ui-view></div>
        </div>
        <!-- END PAGE CONTENT WRAPPER -->
      </div>
      <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->
    
    
    <!-- START SCRIPTS -->
    <!-- START PLUGINS -->
    <script type="text/javascript" src="/modules/admin/js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/modules/admin/js/plugins/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/modules/admin/js/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- END PLUGINS -->
    <!-- START THIS PAGE PLUGINS-->
    <script type='text/javascript' src='/modules/admin/js/plugins/icheck/icheck.min.js'></script>
    <script type="text/javascript" src="/modules/admin/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="/modules/admin/js/plugins/scrolltotop/scrolltopcontrol.js"></script>
    
    <script type="text/javascript" src="/modules/admin/js/plugins/morris/raphael-min.js"></script>
    <script type="text/javascript" src="/modules/admin/js/plugins/morris/morris.min.js"></script>
    <script type="text/javascript" src="/modules/admin/js/plugins/rickshaw/d3.v3.js"></script>
    <script type="text/javascript" src="/modules/admin/js/plugins/rickshaw/rickshaw.min.js"></script>
    <script type='text/javascript' src='/modules/admin/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'></script>
    <script type='text/javascript' src='/modules/admin/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'></script>
    <script type='text/javascript' src='/modules/admin/js/plugins/bootstrap/bootstrap-datepicker.js'></script>
    <script type="text/javascript" src="/modules/admin/js/plugins/owl/owl.carousel.min.js"></script>
    
    <script type="text/javascript" src="/modules/admin/js/plugins/moment.min.js"></script>
    <script type="text/javascript" src="/modules/admin/js/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- END THIS PAGE PLUGINS-->
    <!-- START TEMPLATE -->
    <script type="text/javascript" src="/modules/admin/js/settings.js"></script>
    
    <script type="text/javascript" src="/modules/admin/js/plugins.js"></script>
    <script type="text/javascript" src="/modules/admin/js/actions.js"></script>
    
    <script type="text/javascript" src="/modules/admin/js/demo_dashboard.js"></script>
    <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->
  </body>
</html>