<!DOCTYPE html>
<html lang="en" ng-app="nhuanApp">
  <head>
    <!-- META SECTION -->
    <title>Cửa sổ tâm hồn</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="icon" href="/modules/admin/favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="/modules/admin/css/theme-black.css"/>
    <!-- EOF CSS INCLUDE -->
    <!-- angular / angular ui route -->
    <script type="text/javascript" src="/angular/angular.min.js"></script>
    <script type="text/javascript" src="/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- ng toastr -->
    <script src="/angular-animate/angular-animate.min.js"></script>
    <script src="/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <link rel="stylesheet" href="/angular-toastr/dist/angular-toastr.min.css" />
    <!--  angular ui bootstrap -->
    <script src="/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    
    <!-- index.js -->
    <script type="text/javascript" src="/js/index.js"></script>
    <!-- load all controllers and services files -->
    <% for(var i=0; i<files.length; i++) {%>
    <script type="text/javascript" src="<%=files[i]%>"></script>
    <% } %>
  </head>
  <body>
    <!-- START PAGE CONTAINER -->
    <div class="page-container">
      <!-- PAGE CONTENT -->
      <div class="page-content">
        <!--  start header -->
        <div ng-controller="headerCtrl">
          
          <!-- START X-NAVIGATION VERTICAL -->
          <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
            <!-- TOGGLE NAVIGATION -->
            <li class="xn-icon-button">
              <a href="/#/index?pageNumber=1"><span class="glyphicon glyphicon-home"></span></a>
            </li>
            <!-- END TOGGLE NAVIGATION -->
            <!-- SEARCH -->
            
            <!-- END SEARCH -->
            <!-- SIGN OUT -->
            <li class="xn-icon-button pull-right">
              <a href="#" class="mb-control" ng-click="logout()"><span class="fa fa-sign-out"></span></a>
            </li>
            <!-- END SIGN OUT -->
            <!-- user profile -->
            <li class="xn-icon-button pull-right" ng-if="isLogin()">
              <a href="#"><span class="fa fa-comments"></span></a>
              <div class="informer informer-danger">4</div>
              <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                
                <div class="panel-body list-group list-group-contacts scroll" style="height: 80px;">
                  
                </div>
              </div>
            </li>
            <!-- END user profile -->
            <!-- start login -->
            <li class="xn-icon-button pull-right">
              <a href="#"><span class="fa fa-user"></span></a>
              <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                <!-- login -->
                <div ng-if="!service.user.isLogin">
                  <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-comments"></span> Người dùng </h3>
                    <div class="pull-right">
                      <span class="label label-danger">Đăng nhập tài khoản</span>
                    </div>
                  </div>
                </div>
                <!-- end login -->
                <!-- user profile -->
                <div ng-if="service.user.isLogin">
                  <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-user"></span> Thông tin tài khoản </h3>
                    <div class="pull-right">
                      <span class="label label-danger" ng-if="!service.user.isPaid">Tài khoản thường</span>
                    </div>
                    <div class="pull-right">
                      <span class="label label-success" ng-if="service.user.isPaid">Nâng cấp</span>
                    </div>
                  </div>
                </div>
                <!-- end profile -->
                <div class="panel-body list-group list-group-contacts scroll" style="height: 200px;">
                  <div ng-if="!service.user.isLogin">
                    <div class="list-group-item">
                      <div class="form-group row">
                        <label class="col-md-offset-1 col-md-3 col-xs-12 control-label">Username</label>
                        <div class="col-md-7 col-xs-12">
                          <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                            <input type="text" class="form-control" ng-model="username"/>
                          </div>
                          <span class="help-block">Nhập tên đăng nhập</span>
                        </div>
                      </div>
                    </div>
                    <div class="list-group-item">
                      <div class="form-group row">
                        <label class="col-md-offset-1 col-md-3 col-xs-12 control-label">Password</label>
                        <div class="col-md-7 col-xs-12">
                          <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-unlock-alt"></span></span>
                            <input type="password" class="form-control" ng-model="password"/>
                          </div>
                          <span class="help-block">Nhập mật khẩu</span>
                        </div>
                      </div>
                    </div>
                    <div class="list-group-item">
                      <a href="#" class="col-md-offset-3 col-md-5 col-xs-12">Đăng ký tài khoản</a>
                      <button class="btn btn-primary col-md-2 col-xs-12"  ng-click="login(username, password)">Login</button>
                    </div>
                  </div>
                  <!-- profile -->
                  <div ng-if="service.user.isLogin">
                    <a href="/edit/#/profile" class="list-group-item">
                      <div class="list-group-status status-online"></div>
                      <img ng-src="{{service.user.imgUrl}}" class="pull-left" alt="John Doe"/>
                      <span class="contacts-title">{{service.user.fullName}}</span>
                      <p>Điện thoại - {{service.user.phone}}</p>
                    </a>
                    <div class="list-group-item">
                      <div class="row">
                        <div class="col-md-4">Tài khoản</div>
                        <div class="col-md-8">{{service.user.username}}</div>
                      </div>
                    </div>
                    <div class="list-group-item">
                      <div class="row">
                        <div class="col-md-4">Công việc</div>
                        <div class="col-md-8">{{service.user.job}}</div>
                      </div>
                    </div>
                    <div class="list-group-item">
                      <div class="row">
                        <div class="col-md-4">Địa chỉ</div>
                        <div class="col-md-8">Công việc</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <!-- END login -->
          </ul>
          <!-- END X-NAVIGATION VERTICAL -->
          
        </div>
        <!-- end header -->
        
        <!-- start menu -->
        <div class="row">

          <div class="col-md-8">
            <button ui-sref="vacxin" class="btn btn-success"><span class="glyphicon glyphicon-calendar"></span> Lịch tiêm chủng </button>
          </div>
          <!-- start search -->
          <form class="form-horizontal col-md-4">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <span class="fa fa-search"></span>
                </div>
                <input type="text" class="form-control" placeholder="Who are you looking for?"/>
                <div class="input-group-btn">
                  <button class="btn btn-primary">Search</button>
                </div>
              </div>
            </div>
          </form>
          <!-- end search -->
          
        </div>
        <br>
        <!-- end menu -->
        
        <!-- PAGE TITLE -->
        <div class="page-title row">
          <h2 class="col-md-12"><span class="fa fa-bullhorn"></span> Bài viết </h2>
        </div>
        <!-- END PAGE TITLE -->
        
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
          
          <div class="row">
            <!-- content -->
            <div class="col-md-9">
              <div ui-view></div>
            </div>
            
            <div class="col-md-3">
              
              <div class="panel panel-default">
                <div class="panel-body">
                  <h3>Loại tin</h3>
                  <div class="links">
                    <% for(var i=0; i<categories.length; i++) {%>
                    <a href="/#/index?pageNumber=1&categoryId=<%=categories[i]._id%>">
                      <%=categories[i].name %>
                      <span class="label label-default"><%=categories[i].count %></span>
                    </a>
                    <% } %>
                  </div>
                </div>
              </div>
              
              <div class="panel panel-default">
                <div class="panel-body">
                  <h3>Recent</h3>
                  <div class="links small">
                    <a href="/modules/admin/#">Vestibulum porttitor neque vitae odio vulputate molestie</a>
                    <a href="/modules/admin/#">Etiam tellus mi, interdum id nulla in</a>
                    <a href="/modules/admin/#">Cras eu tincidunt quam</a>
                    <a href="/modules/admin/#">Donec rhoncus quam tortor, id pulvinar erat elementum eu</a>
                    <a href="/modules/admin/#">Nunc lorem est, suscipit bibendum</a>
                    <a href="/modules/admin/#">Fusce sollicitudin quis turpis eget mollis</a>
                    <a href="/modules/admin/#">Cras eget sagittis dui, et mollis tortor</a>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          
        </div>
        <!-- END PAGE CONTENT WRAPPER -->
        
      </div>
      <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->
    
    <!-- START PRELOADS -->
  <audio id="audio-alert" src="/modules/admin/audio/alert.mp3" preload="auto"></audio>
<audio id="audio-fail" src="/modules/admin/audio/fail.mp3" preload="auto"></audio>
<!-- END PRELOADS -->
<!-- START SCRIPTS -->
<!-- START PLUGINS -->
<script type="text/javascript" src="/modules/admin/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/modules/admin/js/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/modules/admin/js/plugins/bootstrap/bootstrap.min.js"></script>
<!-- END PLUGINS -->
<!-- START THIS PAGE PLUGINS-->
<script type='text/javascript' src='/modules/admin/js/plugins/icheck/icheck.min.js'></script>
<script type="text/javascript" src="/modules/admin/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
<!-- END THIS PAGE PLUGINS-->
<!-- START TEMPLATE -->
<script type="text/javascript" src="/modules/admin/js/settings.js"></script>
<script type="text/javascript" src="/modules/admin/js/plugins.js"></script>
<script type="text/javascript" src="/modules/admin/js/actions.js"></script>
<!-- END TEMPLATE -->
<!-- END SCRIPTS -->
</body>
</html>